@if(token?.sub === userId){
  <h2 class="m-2">My Metings</h2>
}
@else {
  <button class="btn btn-outline-primary my-5 mx-2" type="button" [routerLink]="'/book-meeting/' + userId + '/' + username">Book meeting with {{username}}</button>
}
<button class="btn btn-outline-info my-5 mx-2" type="button" routerLink="/">Go back</button>

<div class="form-outline mx-2">
        <label class="form-label">Select your timezone</label>
        <select class="form-select form-select-lg mb-3 col-12 col-mg-6" [(ngModel)]="timezone">
            <option [value]="14">GMT+14</option>
            <option [value]="13">GMT+13</option>
            <option [value]="12">GMT+12</option>
            <option [value]="11">GMT+11</option>
            <option [value]="10">GMT+10</option>
            <option [value]="9">GMT+9</option>
            <option [value]="8">GMT+8</option>
            <option [value]="7">GMT+7</option>
            <option [value]="6">GMT+6</option>
            <option [value]="5">GMT+5</option>
            <option [value]="4">GMT+4</option>
            <option [value]="3">GMT+3</option>
            <option [value]="2">GMT+2</option>
            <option [value]="1">GMT+1</option>
            <option [value]="0">GMT+0</option>
            <option [value]="-1">GMT-1</option>
            <option [value]="-2">GMT-2</option>
            <option [value]="-3">GMT-3</option>
            <option [value]="-4">GMT-4</option>
            <option [value]="-5">GMT-5</option>
            <option [value]="-6">GMT-6</option>
            <option [value]="-7">GMT-7</option>
            <option [value]="-8">GMT-8</option>
            <option [value]="-9">GMT-9</option>
            <option [value]="-10">GMT-10</option>
            <option [value]="-11">GMT-11</option>
            <option [value]="-12">GMT-12</option>
          </select>
    </div>

<div class="row">
    @for(meeting of meetings; track $index){
        <div class="mx-auto col-12 col-sm-6 col-md-4 col-lg-3 mx-2">
            <div class="shadow-lg card text-bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">{{meeting.name}}</div>
                <div class="card-body">
                  <h5 class="card-title">Start: {{formatDateTimeOffset(meeting.startDateTime)}}</h5>
                  <p class="card-text">Duration: {{meeting.durationInMinutes}} min</p>
                  <p class="card-text">Reason: {{meeting.reason}}</p>
                  <p class="card-text">Initiator: {{meeting.initiatorFullName ?? "Unknown"}}</p>
                </div>
                <div class="card-footer">
                  @if(token?.sub === userId){
                    <button class="btn btn-outline-danger w-100" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="selectedMeeting = meeting">Delete</button>
                  }
                </div>
              </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Meeting</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="selectedMeeting = null"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this meet?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="selectedMeeting = null">Cancel</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="Delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>