<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CalendlyTask</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(jwtService.decodeToken()){
          <li class="nav-item">
            <button class="btn btn-outline-info" [routerLink]="'/list-meetings/' + jwtService.decodeToken()?.sub + '/' + jwtService.decodeToken()?.username">My meetings</button>
          </li>
        }
      </ul>
      @if(jwtService.decodeToken()){
        <form class="d-flex" role="search">
          @if(localStorage.getItem(CalendlyProfilePictureString) !== "data:image/png;base64,null"){
            <img
            [src]="localStorage.getItem(CalendlyProfilePictureString)"
            class="rounded-circle m-2"
            height="25"
            alt="No image"
            loading="lazy"
          />
          }
          @else {
            <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle m-2"
            height="25"
            alt="No image"
            loading="lazy"
          />
          }
          <button class="btn btn-info me-1" [routerLink]="'/list-meetings/' + jwtService.decodeToken()?.sub + '/' + jwtService.decodeToken()?.username">{{jwtService.decodeToken()?.fullname}}</button>
          <button class="btn btn-outline-danger me-1" type="button" (click)="LogOut()">Log out</button>
          @if(jwtService.decodeToken()?.roles?.includes("ADMIN")){
            <button class="btn btn-outline-warning" type="button" routerLink="/make-admin">Make other user admin</button>
          }
        </form>
      }
      @else {
        <form class="d-flex" role="search">
          <button class="btn btn-outline-warning me-1" type="button" routerLink="/register">Register</button>
          <button class="btn btn-outline-success" type="button" routerLink="/login">Login</button>
        </form>
      }
    </div>
  </div>
</nav>

<router-outlet></router-outlet>